<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a [hidden]="this.ServiceStatus.Loading"  class="navbar-brand" [routerLink] ="['']">LOGO</a>
   <i [hidden]="!this.ServiceStatus.Loading" class="fa fa-spinner fa-2x"></i>
 

  <button class="navbar-toggler" type="button"
          (click)="toggleNavbar()">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse"
       [ngClass]="{ 'show': navbarOpen }">
    <ul class="navbar-nav mr-auto">
        <li [hidden]="this.ServiceStatus.IsConnect()" class="nav-item">
            <a class="nav-link"  [routerLink] ="['login']" skipLocationChange>Conectar</a>
          </li>

          <li [hidden]="!this.ServiceStatus.IsConnect()" class="nav-item">
              <a class="nav-link" [routerLink] ="['logout']" skipLocationChange>Desconectar</a>
            </li>

      <li class="nav-item">
        <a class="nav-link" [routerLink] ="['about']" skipLocationChange>About</a>
      </li>

      <li [hidden]="!this.ServiceStatus.IsConnect()" class="nav-item">
        <a class="nav-link" [routerLink] ="['tusdatos']" skipLocationChange>Tus datos</a> 
      </li>

      <li [hidden]="!this.ServiceStatus.IsAdmin()" class="nav-item">
          <a class="nav-link" [routerLink] ="['gesusers']" skipLocationChange>Gestión usuarios</a> 
        </li>

    </ul>

    <ul [hidden]="!this.ServiceStatus.IsConnect()" class="nav navbar-nav navbar-right">
        <i class="fa fa-user-circle-o" aria-hidden="true"> {{this.ServiceStatus.ViewUser}}</i>
        
      </ul>

  </div>

  

  
</nav>