<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a  class="navbar-brand" [routerLink] ="['']">Aure</a>

  <button class="navbar-toggler" type="button"
          (click)="toggleNavbar()">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse"
       [ngClass]="{ 'show': navbarOpen }">
    <ul class="navbar-nav mr-auto">
        <li [hidden]="this.ServiceStatus.IsConnect()" class="nav-item">
            <a class="nav-link"  [routerLink] ="['login']">Conectar</a>
          </li>

          <li [hidden]="!this.ServiceStatus.IsConnect()" class="nav-item">
              <a class="nav-link" [routerLink] ="['logout']">Desconectar</a>
            </li>

      <li class="nav-item">
        <a class="nav-link" [routerLink] ="['about']">About</a>
      </li>

      <li [hidden]="!this.ServiceStatus.IsConnect()" class="nav-item">
        <a class="nav-link" href="#">Tus datos</a>
      </li>
    </ul>
  </div>
</nav>