<app-layout>
  <div class="jumbotron">
    <h1>Dttec EUROMILLONES</h1>
    <div class="col-sm-8">
        <table class="table table-hover"> 
        <thead> 
          <tr> 
              <th>Id</th>
              <th>Nombre</th>            
              <th>Email</th>
              <th></th>
          </tr> 
        </thead> 
        <tbody> 
          <tr *ngFor="let user of lista" >            
              <td>{{user.id}}</td>
              <td>{{user.nombre}}</td>
              <td>{{user.email}}</td>
              
          </tr>
          </tbody>
        </table>
      </div>
  </div>
</app-layout>
